name: Generate Snake

on:
  # Chạy tự động mỗi 24 giờ
  schedule:
    - cron: "0 */24 * * *" 
  
  # Cho phép chạy thủ công từ tab Actions
  workflow_dispatch:
  
  # Chạy khi có push lên branch master/main
  push:
    branches:
    - master
    - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      # Clone repo của bạn
      - name: Checkout
        uses: actions/checkout@v3
      
      # Tạo file svg con rắn
      - name: Generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      # Đẩy file svg vào branch 'output'
      - name: Push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
